body{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.admin_login{
	width: 650px;
	height: 350px;
	margin: auto;
	margin-top: 10%;
	padding: 30px 30px;
	border: 2px solid #0075FF;
	box-sizing: border-box;
}

.admin_login h1{
	font-weight: bold;
	font-size: 20px;
	line-height: 48px;
	text-align: center;

	border-top: 10px;
}

.admin_username{
	
	width: 300px;
	height: 40px;
	color: #707070;
	border: 0px;
	outline: none;
	padding-left: 10px;
	font-size: 16px;

	background: #E1E1E1;
}

.admin_username:focus{
	outline: 1px solid #0075FF;
}


.admin_password{
		
	width: 300px;
	height: 40px;
	border: 0px;
	outline: none;
	padding-left: 10px;
	font-size: 16px;

	background: #E1E1E1;
}

.admin_password:focus{
	outline: 1px solid #0075FF;
}

.admin_login i{
	color: #333;
	font-size: 20px;

}

#user_icon{
	margin: 20px 5px 20px 110px;
}

#lock_icon{
	margin: 35px 5px 20px 110px;
}

#togglePassword{
	font-size: 17px;
	color: #707070;

}


.admin_button{
	
	width: 100px;
	height: 35px;
	margin: 4% 42%;
	color: #ffff;
	border: 0px;
	cursor: pointer;
	font-size: 16px;

	background: #0075FF;
	border-radius: 10px;

}

.admin_button:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.staff_login{
	font-size: 16px;
	float: right;
	border: 0px;
	cursor: pointer;
	color: #0075FF;
}

.staff_login:hover{
	text-decoration: underline;
}